* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #35312e;
}
.starter__text {
  text-align: center;
  background-color: #f0eedd;
  padding: 15px 0px;
  font-size: 12px;
  color: #670a18;
}

a {
  text-decoration: none;
  color: #35312e;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

/*      NAVBAR     */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  height: 70px;
  align-items: center;
}
.left_link {
  margin: 0px 35px 0px 0px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.left_link:hover {
  background-color: #f0eedd;
}

.right_link:hover {
  background-color: #f0eedd;
}
.right_link {
  margin: 0px 0px 0px 35px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.brown {
  background-color: #c87b5e;
  padding: 10px 15px;
  color: white;
  border-radius: 100%;
  transition: all 0.1s linear;
  font-size: 14px;
}

.brown:hover {
  background-color: #dd693e;
}

/*      HEADER    */
.header {
  background-image: url(img/header.jpg);
  max-width: 100%;
  background-size: cover;
  position: relative;
  height: 85vh;
  width: 100%;
}
.header__content {
  position: absolute;
  left: 30%;
  top: 30%;
}
.header__h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #35312e;
}
.header__title {
  font-size: 50px;
  font-weight: 400;
  color: #35312e;
  padding-top: 20px;
}
.header__dbltitle {
  font-size: 50px;
  font-weight: 400;
  color: #35312e;
  border-bottom: 2px solid #35312e;
  width: 60%;
}
.header__linlk {
  background-color: #d37657;
  padding: 20px 30px;
  display: inline-block;
  margin-top: 57px;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.header__linlk:hover {
  background-color: #b14e2d;
}

/*     SPONSER    */
.section__sponser {
  position: relative;
  height: 225px;
  background-color: #f5f1e9;
  padding: 0 150px;
}
.sponser__title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.sponser__title img {
  width: 600px;
}
.sponser__item {
  display: flex;
}
.sponser__item__img {
  padding: 0px 10px;
  max-width: 100%;
  margin: 70px auto;
}

/*    INNER    */
.inner__container {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  align-items: center;
}
.inner__title {
  font-size: 41px;
  max-width: 280px;
  text-align: center;
  margin-right: 50px;
}
.inner__text {
  width: 750px;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 50px;
  max-width: 550px;
  color: #4f463f;
}

/*      WRAPPER     */

.section__wrapper {
  background-color: #fbf6ea;
  padding-top: 70px;
  color: #35312e;
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  height: 900px;
}
.wrapper__color {
  display: flex;
  margin: 50px auto 40px;
  justify-content: center;
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 15px;
}
.wrapper__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.wrapper__item {
  margin: 20px auto;
  position: relative;
}
.wrapper__inner {
  position: absolute;
  width: 561.61px;
  height: 552.62px;
  left: calc(50% - 561.61px / 2 + 79.2px);
  top: -0.2px;
  text-transform: uppercase;
  line-height: 1.5;
}
.wrapper__left__top__text {
  position: absolute;
  top: 91px;
  left: -122px;
  font-size: 12px;
  width: 135px;
}
.wrapper__right__top__text {
  position: absolute;
  top: 47px;
  right: 47px;
  font-size: 12px;
  width: 145px;
}
.wrapper__center__right__text {
  position: absolute;
  top: 280px;
  right: 20px;
  font-size: 12px;
  width: 173px;
}

.wrapper__center__left__text {
  position: absolute;
  top: 361px;
  left: -33px;
  font-size: 12px;
  width: 86px;
}
.wrapper__bottom__left__text {
  position: absolute;
  top: 500px;
  left: -91px;
  font-size: 12px;
  width: 146px;
}
.wrapper__bottom__right__text {
  position: absolute;
  top: 455px;
  right: 39px;
  font-size: 12px;
  width: 116px;
}
.background__kvadrat {
  background-color: #e09d81;
  position: absolute;
  left: 31px;
  top: 100px;
  z-index: 0;
  width: 12px;
  height: 12px;
}

.background__kvadrat__top__right {
  background-color: #e09d81;
  position: absolute;
  right: 106px;
  top: 109px;
  z-index: 3;
  width: 12px;
  height: 12px;
}
.background__kvadrat__center__right {
  background-color: #e09d81;
  position: absolute;
  right: 219px;
  top: 293px;
  z-index: 0;
  width: 12px;
  height: 12px;
}
.background__kvadrat__bottom__left {
  background-color: #e09d81;
  position: absolute;
  left: 129px;
  top: 524px;
  z-index: 3;
  width: 12px;
  height: 12px;
}
.background__kvadrat__bottom__dblleft {
  background-color: #e09d81;
  position: absolute;
  left: 87px;
  top: 397px;
  z-index: 3;
  width: 12px;
  height: 12px;
}
.background__kvadrat__bottom__right {
  position: absolute;
  background-color: #e09d81;
  right: 114px;
  top: 416px;
  z-index: 1;
  width: 12px;
  height: 12px;
}
/*      BOX       */

.section__box {
  padding-top: 70px;
}
.box__title {
  width: 477px;
  font-size: 33px;
  margin: 0 auto;
  text-align: center;
  line-height: 55px;
}
.box__text {
  width: 441px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  line-height: 29px;
}
.box__item {
  display: flex;
  padding: 0px 30px;
  margin-bottom: 50px;
}
.box__inner {
  text-align: center;
  position: relative;
  margin: 0 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background__img {
  width: 286px;
  height: 229px;
  background-color: #f7f3eb;
  border-radius: 100%;
  margin-top: 75px;
  position: relative;
}
.background__img img {
  position: absolute;
  top: -77px;
  left: 15px;
  z-index: 1;
}

.box__side {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 20px;
}
.box__set {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
}
.box__hand {
  width: 161px;
  font-size: 11px;
  line-height: 19px;
  margin: 0 auto;
  padding-top: 10px;
}
.radius {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.radius:hover {
  border-radius: 0%;
}

.radius__color {
  display: flex;
}
.box__radius {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.image4 {
  position: absolute;
  padding-top: 120px;
  left: 15px;
  z-index: 1;
}

/*         LOGO        */

.section__logo {
  display: flex;
}
.logo__box {
  text-align: center;
  background-color: #ebe0cb;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo__box img {
  width: 100%;
  height: 100%;
}
.logo__mein__text {
  font-size: 11px;
  margin-top: 100px;
}
.logo__title {
  margin: 33px auto 0;
  max-width: 450px;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 1px;
}

.padding__logo {
  padding: 0 20px;
}
.logo__link {
  display: inline-block;
  margin-top: 90px;
  padding: 20px 60px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #fff;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 0.2s linear;
  border: 1px solid rgba(15, 15, 15, 0.3);
}
.logo__link:hover {
  background-color: #e7cfa3;
}

/*     FOOTER       */

.footer {
  background-color: #6c674d;
  padding: 90px 35px 90px 48px;
}
.footer__item {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  color: white;
  font-size: 23px;
  font-weight: 700;
}
.footer__text {
  font-size: 14px;
  padding-top: 30px;
  color: white;
}
.footer__input {
  margin-top: 70px;
  width: 448px;
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
  font-size: 13px;
}
.footer__submit {
  position: absolute;
  top: 145px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 84px;
  left: 366px;
  font-size: 12px;
  z-index: 2;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
  cursor: pointer;
  height: 50px;
}

.sl:after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 160px;
  left: 340px;
  transform: translateY(9px) rotate(90deg);
  z-index: 2;
}

.footer__box {
  position: relative;
}
.footer__submit:hover {
  background-color: #b14e2d;
  color: white;
}
.footer__right {
  display: flex;
  justify-content: space-between;
}
.fooetr__box__right {
  margin: 0 30px;
}
.fooetr__box__right ul li a {
  font-weight: 400;
  color: white;
}
.fooetr__box__right ul li {
  line-height: 30px;
  list-style: none;
  opacity: 0.4;
  transition: all 0.1s linear;
}
.fooetr__box__right ul li:hover {
  opacity: 1;
}
.finish__footer {
  background-color: #807c62;
  display: flex;
  height: 60px;
  align-items: center;
  padding-right: 50px;
  position: relative;
}

.copy {
  font-size: 14px;
  padding: 10px 50px;
  color: white;
}
.mein__footer__right a {
  display: inline-block;
  margin: 0 15px;
  font-size: 11px;
  color: #fff;
  opacity: 0.6;
  font-weight: 400;
  transition: all 0.1 s linear;
}
.mein__footer__right a:hover {
  opacity: 1;
}

.copy a {
  opacity: 0.6;
  color: #fff;
}
.copy a:hover {
  opacity: 1;
}
.finish__footer img {
  position: absolute;
  right: 60px;
  top: 40%;
}
.footer__bottom {
  float: right;
  margin-right: 335px;
}

.footer__bottom p {
  font-size: 12px;
  color: #fff;
}

.bottom__item {
  display: flex;
}

.bottom__item img {
  margin: 10px 10px 0 0;
}
